@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1{
    font-family: 'Aoboshi One', serif;
    /* font-family: 'Roboto Slab', serif; */
}

h2{
    font-family: 'Roboto Slab', serif;
}

/* form input, form div{
    margin-left: 0px;
    padding-left: 0px;
} */

p, label{
    font-family: 'Roboto', sans-serif;
}
.menuBas{
    position: fixed;
    bottom: 0;
    background-color: aliceblue;
    
    /* padding-right: 15px; */
}

.menuDroit{
    position: fixed;
    right: 0;
    height: 100vh;
}

.menuGauche{
    overflow-y: auto;
    overflow-wrap: normal;
    background-color: #E9EDC9;
    padding: 0px;
    height: 100vh;
    /* font-family: 'Roboto Slab', serif; */
    /* color:  #D4A373; */
}

.card{
    border: none;
    border-radius: 15px;
    height: 300px;
}

/* .zonePrix{
    background-color: blueviolet;
    position: sticky;
    bottom: 0px;
} */

.card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}